<body>

    <div class="home-container">
        <div class="logo">📚 ÉtuBibliothèque</div>
        <h1>Bienvenue sur votre espace </h1>
        <p>Gérez vos étudiant en toute simplicité.</p>
        
        <div class="actions">
             <button class="btn btn-login"  (click)="onLogin()">Se connecter </button>  
           <button  class="btn btn-register"  (click)="onRegister()">S'enregistrer </button>    
        </div>
        
        <div class="footer-text">
            &copy; 2026 ÉtuBibliothèque. Tous droits réservés.
        </div>
    </div>

</body>