 <nav class="nav-container">  
  <div class="logo-list">📚 ÉtuBibliothèque</div>
  <button class=" btn btn-home"   (click)="onHome()">Home </button> 
  <button class=" btn btn-register"   (click)="onRegister()">S'enregirster </button> 
  <button class=" btn btn-login"   (click)="onLogin()"> Se conecter</button> 
  
</nav>

 
<div class="list-container">
  
 
  <table>
    
    <thead>
      <tr>
    
        <th>Prénom</th>
        <th>Nom</th>
        <th>Login</th>
        <th>Actions</th> </tr>
    </thead>
    <tbody>
      @for (student of students; track student.id) {
        <tr>
          
          <td>{{ student.firstName }}</td>
          <td>{{ student.lastName }}</td>
          <td>{{ student.login }}</td>
          <td class="action-cell">
            <button class=" btn btn-detail" (click)="onViewDetails(student)" >
              Détail
            </button>
          </td>
        </tr>
      } @empty {
        <tr>
          <td colspan="4">Aucun étudiant trouvé.</td>
        </tr>
      }
    </tbody>
  </table>
</div>
 